body{
    background-color: #3e4444;
    text-align: center;
}
h1{
    color: #e06377;
    font-size: 10rem;
    font-family: "Lobster";
    margin-bottom: 100px;
}
p{
    color: #e06377;
    font-size: 2rem;
    font-family: "Unbounded";
}